.green {
    background-color: aquamarine;
}
.pink {
    background-color: pink;
}
.yellow {
    background-color: yellow;
}
.tomato {
    background-color: tomato;
}
.blue {
    background-color: cadetblue;
}
.grey {
    background-color: lightgrey;
}

.bi {
    font-size: 2em;
    color: orangered;
}